<app-user-list></app-user-list>
<app-user-data></app-user-data>
<app-student-list></app-student-list>
<app-login></app-login>

<br>
<button (click)="getName('JK',232,'str abcd')">Click </button>
<input type="text" #box (keyup)="getData(box.value)" name="" id="" placeholder="Keyup">
<br>
<input type="text" #box1 (keydown)="getData(box1.value)" name="" id="" placeholder="keydown">
<br>
<!-- blur - -> when focus out  -->
<input type="text" #box2 (blur)="getData(box2.value)" name="" id="" placeholder="blur">
<br>
<button >Btn</button>

<router-outlet></router-outlet>
