<!-- <app-login></app-login>
<app-signup></app-signup> -->
<!-- 
<ul>
    <li><a routerLink="login">Login </a></li>
    <li><a routerLink="signup">Signup</a></li>

</ul>

<hr>
<hr>
<h1>Admin</h1>
<ul>
    <li><a routerLink="admin/page1">Admin Page 1</a></li>
    <li><a routerLink="admin/page2">Admin Page 2</a></li>
    <li><a routerLink="admin/page3">Admin Page 3</a></li>
    <li><a routerLink="admin/page4">Admin Page 4</a></li>

</ul>
<hr>
<hr>
<h1>Moderator </h1>
<ul>
    <li><a routerLink="moderator/page5">Modarator Page 5</a></li>
    <li><a routerLink="moderator/page6">Modarator Page 6</a></li>
    <li><a routerLink="moderator/page7">Modarator Page 7</a></li>
    <li><a routerLink="moderator/page8">Modarator Page 8</a></li>
</ul> -->
<h3>Admin Lazy</h3>
<ul>
    <li><a  routerLink="admin/page1">Admin Page 1</a></li>
    <li><a  routerLink="admin/page2">Admin Page 2 </a></li>
    <li><a  routerLink="admin/page3">Admin Page 3 </a></li>
    <li><a  routerLink="admin/page4">Admin Page 4 </a></li>
</ul>
<hr><hr>
<h3>Moderator Lazy</h3>
<ul>
    <li><a routerLink="moderator/page5">Moderator Page 5</a></li>
    <li><a routerLink="moderator/page6">Moderator Page 6</a></li>
    <li><a routerLink="moderator/page7">Moderator Page 7</a></li>
    <li><a routerLink="moderator/page8">Moderator Page 8</a></li>

</ul>

<router-outlet></router-outlet>