<!-- <input type="text" [(ngModel)]="name">
<h5>{{name| uppercase}} </h5>

<input type="text" placeholder="enter name" #doc>
<button (click)="getDat(doc.value)">Click</button>

<h5>{{name| lowercase}} </h5>

<h4>{{today | date:'fullDate'}}</h4>
 <h3>{{makeCaps(name)}}</h3> -->

<!-- <h5>{{name| slice:3 :5 }} </h5>

<h3>{{userDetails| json|uppercase}}</h3>

<h3>{{0005000.4564| number:'2.2-3'}}</h3>
<h3>{{5.45| number:'3.3-5'}}</h3>

<h2>{{20|currency:'USD'}}</h2>


<h1>{{100|usdBdt: 89 }}</h1>

<form action="" #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
    <input type="text" name="name" id="" ngModel placeholder="Enter Name">
    <br><br>
    <input type="text" name="pass" id="" ngModel placeholder="Enter Password">
    <br>
    <button>Login</button>
</form>

<button (click)="userLogin(loginForm.value)">Outer button</button>  -->

<form [formGroup]="loginDemoReactive"  (ngSubmit)="loginUserDemo()" >
    <input type="text" name="name" id="" formControlName="name"  placeholder="Enter Name">
    <br>
    <span style="color: red;" *ngIf="nameValidator && nameValidator.invalid && nameValidator.touched">This field is not valid</span>
    <br>
    <input type="text" name="pass" id="" formControlName="password"  placeholder="Enter Password">
    <br>
    <button [disabled]="loginDemoReactive.invalid">Login</button>
</form >


<h4 appRedEL>HHHHHHHHHHH</h4>

<ul> 
    <li *ngFor="let item of info">
        {{item.id}} &nbsp; &nbsp; || &nbsp; &nbsp; {{item.barCode}}
    </li>
</ul>


<hr>
<hr>
<a  routerLink="page1"> Page 1</a>
<br>
<a  routerLink="page2"> Page 2</a>
<br>
<a  routerLink="page3"> Page 3</a>
<br>
<a routerLink="page4/23">Page 4</a>
<router-outlet></router-outlet>

<hr>
<hr>
<form method="post" enctype="multipart/form-data" #fileForm="ngForm"  (ngSubmit)="getUserFormData(fileForm.value)">
    <input type="file"  ngModel  name="file">
    <br>
    <button>Send File</button>
</form>

